extends layout

block content
  h2 Meet the Team!
  h3
    a(href='http://twitter.com/jeffreybiles') @jeffreybiles
  | Trained in the mountains of ancient china for 30 years perfecting his javascript skills.
  | He likes games, education, and programming anything that moves.

  h3
    a(href='http://twitter.com/pablovem') @pablovem
  | Creates soul-crushingly beautiful digital art.  Aspiring coder.  Student extraordinaire.

  h2 Tools
  | This game was made using coffeescript, browserify, html5 canvas, mousetrap, and node.js.
  | No game-specific libraries were used (that was probably a mistake).
  h3
    a(href="/") Now play the game